<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{../../../css/bootstrap.min.css}" />

<head>
<title>Create user</title>
<style type="text/css">
div.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
</style>
</head>
<body>

	<div class="container mt-4 mb-4">

		<h4>Enter your credentials :</h4>

		<div class="row justify-content-md-center">




			<form th:action="@{/createUser}" th:object="${user}" method="post">
				<div>
					<div class="text-danger" th:if="${emailAlreadyExist}">Email
						already exist !</div>
					<label> Email address : <input type="email" th:field="*{email}" /></label>

				</div>
				<div>
					<div class="text-danger" th:if="${usernameAlreadyExist}">Username
						already exist !</div>
					<label> User Name : <input th:field="*{username}" /></label>
				</div>
				<div>
					<label> Password: <input type="password"
						th:field="*{passwordHash}" name="password" />
					</label>
				</div>
				<div>
					<input type="submit" value="Create user" /> <a
						class="btn btn-warning" th:href="@{/login}">Cancel</a>

				</div>
			</form>
		</div>
	</div>

</body>
</html>