<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{../../css/bootstrap.min.css}" />

<head>
<title>Edit topic</title>
<style type="text/css">
div.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
</style>
</head>
<body>



	<div class="wrapper mt-2">
		<h3 class="row align-items-center justify-content-center">Content</h3>


		<form th:object="${topic}" th:action="@{/saveTopic}" action="#"
			method="post">
			<div class="row align-items-center justify-content-center mt-2">
				<input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
				<input type="hidden" id="author" th:field="*{author}" readonly="readonly" /> 
				<input type="text" id="title" th:field="*{title}" size="100" />
<input type="hidden" id="nbParticipants" th:field="*{nbParticipants}" readonly="readonly" />
			</div>
			<div class="row align-items-center justify-content-center pt-50 mt-2">
				<input type="submit" value="Save"></input>
			</div>
		</form>

	</div>
</body>
</html>