<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{../../../css/bootstrap.min.css}" />

<head>
<title>Edit reponse</title>
<style type="text/css">
div.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
</style>
</head>
<body>

	<div class="container mt-4 mb-4">
		<h4 class="row justify-content-md-center">Edit your response :</h4>
		<div class="row justify-content-md-center">
		
			<form class="col-md-12 col-lg-8" th:object="${response}"
				th:action="@{/saveEditedResponse}" action="#" method="post">
				<div class="form-group">
					<textarea id="editor" onchange="submitForm()" maxlength="255"
						th:field="*{content}"></textarea>
					<input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
					<input type="hidden" id="author" th:field="*{author}"
						readonly="readonly" />
				</div>

				<div class="text-danger" th:if="${maxLengthExceeded}">Maximum
					length 255 !</div>
				<a class="btn btn-success" onClick="submitForm()">Save</a> <a
					class="btn btn-warning" onClick="cancel()">Cancel</a> <a
					id="character_count">255 characters max !</a>
			</form>
			
		</div>
	</div>

	<script
		src="https://cdn.tiny.cloud/1/xcutwhg1v409nkcausd265uz2522o3qznd8xw7m7nu401rnl/tinymce/5/tinymce.min.js"
		referrerpolicy="origin"></script>

	<script>
		tinymce.init({
			selector : 'textarea#editor',
			menubar : false,
			setup : function(ed) {
				ed.on('keyup', function(e) {
					CountCharacters();
				});
			}
		});

		function CountCharacters() {
			var body = tinymce.get("editor").getBody();
			var content = tinymce.trim(body.innerText || body.textContent);

			document.getElementById("character_count").innerHTML = content.length
					+ "/255";

			return content.length;
		};

		function cancel() {
			history.go(-1);
		}

		function submitForm() {

			if (CountCharacters() > 255) {
				alert(CountCharacters() + "/255 characters !");
				return;
			}

			document.forms[0].submit();
		}
	</script>
</body>
</html>