<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
	
<head>
<title>Edit topic</title>
</head>
<body>
	<h1>Edit topic</h1>
	<div>
		<form th:object="${topic}" th:action="@{/save}" action="#" method="post">
		
			<input type="hidden" id="id" th:field="*{id}" readonly="readonly" /> 
			<input type="hidden" id="author" th:field="*{author}" readonly="readonly" /> 

			<label for="title">Content</label> 
			<input type="text" id="title" th:field="*{title}" /> 

			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>