<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />

<head>
<title>Login</title>
</head>
<body>

	<div class="container mt-4 mb-4 ">
	
	<h1 class="row justify-content-md-center">Enter your credentials :</h1>
	<p class="text-danger row justify-content-md-center" th:if="${param.error}">Invalid credential !</p>

<div class="row justify-content-md-center mt-4 mb-4">

	<form th:action="@{/login}" method="post">
			<div>
			<label> Email : <input type="text" name="email" />
			</label>
		</div>
		<div>
			<label> Password : <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input class="btn btn-primary" type="submit" value="Sign In" />
			<a class="btn btn-warning" th:href="@{/topics}">Cancel</a>	
		</div>
	</form>
	
		</div>
		
		<div class="row justify-content-md-center">
			<p>No account yet ?</p>
				
		</div>
				<div class="row justify-content-md-center">
			<a class="btn btn-success" th:href="@{/createUser}">Create account</a>
				
		</div>
		
		</div>

</body>
</html>